body {
  margin: 0;
  font-family:'Montserrat';
}
body,
#root {
  min-height: 100vh;
}
@font-face {
  font-family: 'Montserrat';
  src: url(/public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}